.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.intro {
    max-width: 500px;
    margin-left: 100px;
}

.intro p {
    font-size: 22px;
    margin: 10px 0;
}

.intro h1 {
    font-size: 48px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #FFE156;
    border: none;
    cursor: pointer;
    color: #072AC8;
    font-weight: bold;
}

.photo {
    
    flex-shrink: 0;
}

.photo img {
    margin-right: 50px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid #fff3b5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
 
}

.hero button{
    border:2px solid rgb(255, 245, 169);
}

@media (max-width: 768px){
 .intro{
    margin: 0px ;
    
 }   

 .photo img {
    margin: 10px;
 }

}