header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: #F5EE84; 
}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.nav-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.nav-center li a {
    color: #072AC8;
    font-weight: bold;
    text-decoration: none;
}

.social-links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex: 1;
}

.menu-toggle {
    display: none;
}

.nav-center-mobile {
    display: none; 
    color: #072AC8;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-center {
        display: none;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
    }

    .menu-toggle .bar {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-9px, 10px);
    }

    .open .bar:nth-child(2) {
        opacity: 0;
    }

    .open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-9px, -10px);
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #F5EE84;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.open {
        transform: translateY(0);
    }

    .nav-center-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-top: 60%;
        text-align: center;
        padding: 0px;
    }

    .social-links {
        justify-content: center;
        margin-top: 20px;
    }
}

@media (min-width: 769px) {
    .nav-center-mobile {
        display: none; 
    }

    .nav-center {
        display: flex;
    }

    .menu-toggle {
        display: none; 
    }
}
